<div class="container">
    <section id="page-name">
            <iframe id="main-image" src="https://giphy.com/embed/EbbjShLvLX61O" width="480" height="447" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fwbl-gifs-gif-EbbjShLvLX61O" target="_blank">via GIPHY</a></p>
            <h1>Eat Me</h1>
    </section>

    <section class="row">
        <div class="col-md-7 col-left">
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            {{#each burgers}}
                {{#if devoured}}
                    <div>{{id}}. {{burger_name}}</div>
                {{/if}}
            {{/each}}        
        </div>          
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="What would you rather eat?"></textarea>
        </div>
        <button type="submit">Add Burger</button>
    </form>     
</div>